.footer {
  margin-top: 100px;
  background: #005083;
}

.footer .container {
  padding-top: 50px;
}

.footer .container .followUs h6 {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.footer .container .social-media-links img {
  margin-right: 10px;
}

/* .footer .container .social-media-links img:hover {

    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
} */

.footer .container .contactus p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.footer .container .contactus h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffa800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.footer .container .footer-copyright {
  border-top: 2px solid #045e96;
  padding: 30px 0 20px 0;
  margin-top: 70px;
}

.footer .container .footer-copyright h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f4f4f4;
}

.footer .container .footer-copyright .right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .container .footer-copyright .right a {
  color: #fff;
  transition: 0.4s ease;
}

.footer .container .footer-copyright .right a:hover {
  color: #ffa800;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .footer .container .follow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer .container .contactus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .footer .container .contactus h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffa800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 10px;
  }
}
